DB_USER=db_name
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name

DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

PORT=8080

LOG_LEVEL=debug

RPS=1000

MAX_CONNS=20
MIN_CONNS=5
MAX_CONN_LIFETIME=1h
MAX_CONN_IDLE_TIME=30m

BATCH_SIZE=100

HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10m
HTTP_IDLE_TIMEOUT=120s
